.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 2.5rem;
}
.comments h2 {
  text-align: center;
  text-transform: capitalize;
  color: rgb(var(--sec-color));
  font-weight: 600;
  font-size: 24pt;
  font-family: "Courgette", cursive;
  margin-top: 0.25rem;
  margin-bottom: 5rem;
}
.divComments {
  margin: -1rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2.5rem 1rem;
}
.divComments::after {
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    #ffffffee 10%,
    transparent 20%,
    transparent 50%,
    transparent 80%,
    #ffffffee 100%
  );
  position: absolute;
}
.divComments ul {
  max-width: 800px;
}
.divComments ul .customer {
  max-width: 300px;
  padding: 0.5rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(var(--main-color), 0.125);
}

.customer .textCustomer {
  font-family: Arial, Helvetica, sans-serif;
}
.customer .infoCustomer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.customer .infoCustomer .imgCustomer {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 75px;
  height: 75px;
  overflow: hidden;
}
.infoCustomer .imgCustomer img {
  width: 80px;
  height: auto;
}
.infoCustomer .nameCustomer {
  color: rgb(var(--sec-color));
}

.splide__list .splide__slide{
  transition: .75s cubic-bezier(0.25, 0.15, 0.3, 1);
}
.splide__list .is-prev, .splide__list .is-next {
  transform: translateY(0);
}
.splide__list .is-active {
  transform: translateY(-2.5rem);
  transition: 0.5s ease-in-out;
}