/* Para telas menores que 600px*/
@media screen and (max-width: 600px) {
  .frutasDisponiveis {
    margin: 1rem 0.5rem;
    padding: 1rem 0.5rem;
    gap: 5px;
  }
  .frutasDisponiveis .areaCartFrutas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
  }

  .areaCartFrutas .frutaDisp {
    width: 200px;
    height: 150px;
  }

}
/* Para telas maiores que 600px e menores que 980px*/
@media screen and (min-width: 600px) {
  .frutasDisponiveis {
    margin: 3.5rem 1rem;
    padding: 2.5rem;
    gap: 15px;
  }
  .frutasDisponiveis .areaCartFrutas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  .areaCartFrutas .frutaDisp {
    width: 250px;
    height: 200px;
  }

}
/* Para telas maiores que 980px */
@media screen and (min-width: 980px) {
  .frutasDisponiveis {
    margin: 3em 1rem;
    padding: 3rem 2.5rem;
    gap: 15px;
  }
  .frutasDisponiveis .areaCartFrutas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
  }

  .areaCartFrutas .frutaDisp {
    width: 300px;
    height: 250px;
  }

}

.frutasDisponiveis {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.frutasDisponiveis h2 {
  color: rgb(var(--sec-color));
  font-weight: 600;
  font-size: 24pt;
  font-family: "Courgette", cursive;
  margin-bottom: 4rem;
}

.frutasDisponiveis .areaCartFrutas {
  display: grid;
}

.areaCartFrutas .frutaDisp {
    display: grid;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 2px 4px rgba(var(--main-color), 0.05);
}
.frutaDisp .divImgFrutaDisp {
    width: 250px;
    height: 200px;
}
.frutaDisp .divImgFrutaDisp .imgFrutaDisp {
    width: 250px;
    height: 200px;
}
.frutaDisp .infoFrutasDisp{
    padding: 15px;
    display: grid;
    text-align: center;
    font-family: 'Inter', sans-serif;
    gap: 10px;
}
.frutaDisp .infoFrutasDisp .frutaName{
    text-transform: capitalize;
    color: rgb(var(--main-color));
    font-size: 15pt;
    font-weight: 650;
}
.frutaDisp .infoFrutasDisp .frutaPrice{
    font-weight: 500;
    color: rgb(var(--sec-color));
}
.frutaDisp .infoFrutasDisp .btnAddCart, .othersFrutasDisp .btnAddCart{
    padding: 6px;
    background-color: rgba(var(--main-color));
    color: rgba(var(--quat-color));
    border: none;
    box-shadow: 0 0 2px rgb(var(--quin-color));
}

.othersFrutasDisp{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.othersFrutasDisp .btnAddCart{
    width: 200px;
    margin: 5rem 0;
}