.banner-back-dark{
    overflow: hidden;
    position: relative;
}
.banner-back-dark .img-banner::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}

.btn{
    background-color: rgba(var(--main-color));
    color: rgba(var(--quat-color));
}
.btn:hover, .btn:focus{
    background-color: rgba(var(--sec-color));
    color: rgba(var(--main-color));
}
.textDark{
    
}

.block{
    visibility: hidden;
    opacity: 0;
    transition: .1s ease-in-out;
}

.link{
    text-decoration: none;
    color: rgba(var(--sec-color));
}